// Landing page styles

body {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("./../images/we-are-law-2000x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.logo-wrap {
  display: flex;
  position: absolute;
  margin: 0 0 0 30px;
}

.logo {
  font-size: 24px;
  font-weight: 100;
  background-color: #000;
  color: #fff;
  background: url("./../images/logo-175x217.png") no-repeat center;
  background-size: contain;
  width: 175px;
  height: 217px;

  .small {
    font-size: 10px;
  }
}

.form-wrap {
  margin-bottom: 30px;

  .form-head {
    color: #fff;
    padding: 0 15px;
    margin-bottom: 20px;

    .big-text {
      font-size: 60px;
      line-height: 85px;
      margin-bottom: 10px;
    }

    .small-text {
      font-size: 18px;
    }

    .panel-heading {
      border-radius: 0px;
    }
  }

  form {
    padding: 0 15px;

    .panel-body {
      padding: 0;
      background: #fff;

      .item {
        padding: 15px;

        .big-label {
          font-size: 32px;
          margin: 10px 0;
          line-height: 30px;
        }

        .form-check-label {
          position: relative;
          top: 2px;
          left: 3px;
          font-weight: normal;
          font-size: 24px;
          margin-left: 10px;
        }

        .btn-lg {
          font-size: 24px;
          padding-left: 60px;
          padding-right: 60px;
        }
      }
    }
  }
}

.panel {
  border-color: black;
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
  border-color: gray;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background: #edb034;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background: #b98928;
}

.btn-danger {
  background: rgb(186, 5, 5);
}

.l-big-label {
  font-size: 20px;
  margin: 10px 0;
  line-height: 30px;
}

.l-label {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}

@primary-nav-font-size: 26px;
.navbar-custom {
  border: 0px;
  background-color: transparent;

  .navbar-header {
    background-color: transparent;
  }

  li > a {
    color: white;
    font-size: @primary-nav-font-size;
  }

  .navbar-nav {
    margin-top: 60px;
  }

  .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
    margin-top: 35px;

    .icon-bar {
      width: 30px;
      height: 5px;
      background-color: #fff;
    }
  }

  .navbar-collapse.collapse.in {
    background-color: white;

    .navbar-nav {
      margin-top: 0px;
    }
  }
}

/* stroke */
/* NAVIGATION */

.nav li a:focus,
.nav li a:hover {
  background-color: transparent;
}

nav.stroke ul li {
  display: inline-block;

  a {
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: #aaa;
      height: 1px;
    }

    &:hover:after {
      width: 100%;
    }
  }

  a,
  a:after,
  a:before {
    transition: all 0.5s;
  }

  a:hover {
    color: darken(#fff, 15%);
  }
}
