// Landing page styles

body {
  height: 95vh;
  width: 100vw;
  // display: flex;
  // flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("./../images/we-are-law-2000x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.logo-wrap {
  display: flex;
  position: absolute;
  // margin: 0 0 0 30px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 100;
  background-color: #000;
  color: #fff;
  background: url("./../images/logo-175x217.png") no-repeat center;
  background-size: contain;
  width: 175px;
  height: 217px;

  .small {
    font-size: 0.625rem;
  }
}

/* no-gutters Class Rules */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.top-buffer-sm {
  margin-top: 20px;
}

.top-buffer-md {
  margin-top: 40px;
}

.content-top-buffer {
  margin-top: 200px;
}

.bottom-buffer-sm {
  margin-bottom: 20px;
}

.left-buffer-xs {
  margin-left: 5px;
}

.form-wrap {
  margin-bottom: 30px;

  .form-head {
    color: #fff;
    padding: 0 15px;
    margin-bottom: 30px;

    .big-text {
      font-size: 3.75rem;
      line-height: 5.3125rem;
      margin-bottom: 10px;
    }

    .small-text {
      font-size: 1.125rem;
    }

    .panel-heading {
      border-radius: 0px;
    }
  }

  form {
    padding: 0 15px;

    .panel-body {
      padding: 0;

      .item {
        padding: 25px;
        background: #fff;

        .big-label {
          font-size: 2.125rem;
          margin: 10px 0;
          line-height: 1.875rem;
        }

        .l-big-label {
          font-size: 1.75rem;
          margin: 10px 0;
          line-height: 2.5rem;
        }

        .btn-lg {
          font-size: 1.5rem;
          padding: 15px 60px;
        }

        .form-control {
          border-radius: 0px;
          border-color: gray;
          display: inline-block;
          width: 50%;
        }

        @color1: #f4f4f4;
        @color2: #3197ee;
        .form-radio {
          input[type="radio"] {
            position: absolute;
            opacity: 0;
            + .form-radio-label {
              position: relative;
              top: 2px;
              left: 3px;
              font-weight: normal;
              font-size: 1.75rem;

              &:before {
                content: "";
                background: @color1;
                border-radius: 100%;
                border: 1px solid darken(@color1, 25%);
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                position: relative;
                top: -0.2em;
                margin-right: 15px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
              }
            }
            &:checked {
              + .form-radio-label {
                &:before {
                  background-color: @color2;
                  box-shadow: inset 0 0 0 4px @color1;
                }
              }
            }
            &:focus {
              + .form-radio-label {
                &:before {
                  outline: none;
                  border-color: @color2;
                }
              }
            }
            &:disabled {
              + .form-radio-label {
                &:before {
                  box-shadow: inset 0 0 0 4px @color1;
                  border-color: darken(@color1, 25%);
                  background: darken(@color1, 25%);
                }
              }
            }
            + .form-radio-label {
              &:empty {
                &:before {
                  margin-right: 0;
                }
              }
            }
          }
        }

        .form-check {
          input[type="checkbox"] {
            display: inline;
            margin-right: 15px;

            + .form-check-label {
              font-size: 1.75rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.panel {
  border-color: black;
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background: #edb034;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn-primary:hover {
  background: #b98928;
}

.btn-back {
  background: #fff;
  border: 3px #edb034 solid;
  margin-top: 10px;
  margin-bottom: 15px;
}

.btn-danger {
  background: rgb(186, 5, 5);
}

.l-label {
  font-size: 1rem;
  margin: 0;
  line-height: 1.25rem;
}

@primary-nav-font-size: 1.625rem;
.navbar-custom {
  border: 0px;
  background-color: transparent;

  .navbar-header {
    background-color: transparent;
  }

  li > a {
    color: white;
    font-size: @primary-nav-font-size;
  }

  .navbar-nav {
    margin-top: 60px;
  }

  .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
    margin-top: 35px;

    .icon-bar {
      width: 30px;
      height: 5px;
      background-color: #fff;
    }
  }

  .navbar-collapse.collapse.in {
    background-color: white;

    .navbar-nav {
      margin-top: 0px;
    }
  }
}

/* stroke */
/* NAVIGATION */

.nav li a:focus,
.nav li a:hover {
  background-color: transparent;
}

nav.stroke ul li {
  display: inline-block;

  a {
    position: relative;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: #aaa;
      height: 1px;
    }

    &:hover:after {
      width: 100%;
    }
  }

  a,
  a:after,
  a:before {
    transition: all 0.5s;
  }

  a:hover {
    color: darken(#fff, 15%);
  }
}
