/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: @screen-xs-max) {
  html {
    font-size: 10px;
  }

  .form-wrap {
    form {
      .panel-body {
        .item {
          .btn-lg {
            font-size: 1.5rem;
            padding: 15px 45px;
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  html {
    font-size: 12px;
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-175x217.png") no-repeat center;
    width: 175px;
    height: 217px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar-custom {
    li > a {
      font-size: 1.125rem;
    }
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  html {
    font-size: 14px;
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-175x217.png") no-repeat center;
    width: 175px;
    height: 217px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .navbar-custom {
    li > a {
      font-size: 1.5rem;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
  html {
    font-size: 16px;
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-210x260.png") no-repeat center;
    width: 210px;
    height: 260px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 170px;
    padding-right: 80px;
  }
}
