/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

// @screen-xs-max: 768px;
// @screen-sm-min: 768px;
// @screen-sm-max: 991px;
// @screen-md-min: 992px;
// @screen-md-max: 1199px;
// @screen-lg-min: 1200px;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs: 480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min: @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone: @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet: @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop: @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop: @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@media (max-width: @screen-xs-max) {
  html {
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320)));
  }

  .form-wrap {
    form {
      .panel-body {
        .item {
          .btn-lg {
            font-size: 1.5rem;
            padding: 15px 45px;
          }

          .btn-back {
            padding: 12px 45px;
          }

          .form-group {
            .input-group-addon {
              font-size: 20px;
            }
          }
        }
      }
    }
	}

	.nav.navbar-nav {
		li {
			display: none;
			width: 100%;
		}
	}
}

/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  html {
    // font-size: 12px;
    font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (992 - 768)));
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-175x217.png") no-repeat center;
    width: 175px;
    height: 217px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .content-top-buffer {
    margin-top: 250px;
  }

  .navbar-custom {
    li > a {
      font-size: 1.125rem;
    }
  }

  .form-wrap {
    form {
      .panel-body {
        .item {
          .btn-back {
            padding: 12px 57px;
          }

          .form-group {
            .form-group-input {
              height: 45px;
            }

            .input-group-addon {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
  html {
    // font-size: 14px;
    font-size: calc(14px + (16 - 14) * ((100vw - 992px) / (1200 - 992)));
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-175x217.png") no-repeat center;
    width: 175px;
    height: 217px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .content-top-buffer {
    margin-top: 250px;
  }

  .navbar-custom {
    li > a {
      font-size: 1.5rem;
    }
  }

  .form-wrap {
    form {
      .panel-body {
        .item {
          .btn-back {
            padding: 12px 57px;
          }

          .form-group {
            .form-group-input {
              height: 45px;
            }

            .input-group-addon {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
  html {
    font-size: 16px;
    // font-size: calc(16px + (14 - 12) * ((100vw - @screen-lg-min) / (@screen-lg-max - @screen-lg-min)));
  }

  body {
    background-image: url("./../images/we-are-law-2000x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  .logo {
    background: url("./../images/logo-210x260.png") no-repeat center;
    width: 210px;
    height: 260px;
  }

  .container-fluid {
    margin: 0;
    padding-left: 170px;
    padding-right: 80px;
  }

  .content-top-buffer {
    margin-top: 250px;
  }

  .form-wrap {
    form {
      .panel-body {
        .item {
          .btn-back {
            padding: 12px 57px;
          }

          .form-group {
            .form-group-input {
              height: 45px;
						}

						.input-group-addon {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
